.flex-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.left {
  display: flex;
  flex: 1;
}

.flex-item {
  align-items: center;
  padding: 1rem;
  display: flex;
  flex: 1;

  i {
    margin-left: 0.5rem;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
