.flex {
  width: 100%;
  display: flex;
  border-bottom: 1px solid var(--surface-d);
  padding: 1rem;
  align-items: center;
}

.flex-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.left {
  display: flex;
  flex: 1;
}
