<cups-list [tpl]="tpl" [dataSource]="view._ds"></cups-list>
<div class="footer">
  <cups-button styleClass="p-button-lg p-button-rounded" [isText]="false" icon="pi pi-print" (notify)="view._print()"></cups-button>
</div>
<ng-template #tpl let-row>
  <div *ngIf="row.cupsKey == 'global'" class="flex">
    <cups-input [withBorder]="false" label="Pages" [(model)]="view._pages"></cups-input>
    <cups-input [withBorder]="false" type="numeric" label="Copies" [(model)]="view._copies"></cups-input>
  </div>
  <div class="flex" *ngIf="row.cupsKey != 'global' && row.cupsKey != 'file-name'">
    <div>{{row.name}}</div>
    <div class="flex-right">
      <cups-dropdown
        *ngIf="row.cupsKey != 'fit-to-page'"
        [options]="row.options | toOptions"
        type="sheet"
        [isPrimitive]="true"
        [model]="row.default"
        (modelChange)="view._select($event, row)"></cups-dropdown>
      <cups-checkbox
        *ngIf="row.cupsKey == 'fit-to-page'"
        [(model)]="row.default">
      </cups-checkbox>
    </div>
  </div>
  <div class="flex" *ngIf="row.cupsKey == 'file-name'">
    <a (click)="view._preview()">{{row.name}}</a>
  </div>
</ng-template>
