<cups-list [tpl]="tpl" [dataSource]="view._ds"></cups-list>
<ng-template #tpl let-row>
  <div *ngIf="!row.cupsKey && !row.name" class="flex">
    <cups-input [withBorder]="false" label="Pages" [(model)]="view._pages"></cups-input>
    <cups-input [withBorder]="false" type="numeric" label="Copies" [(model)]="view._copies"></cups-input>
  </div>
  <div *ngIf="row.cupsKey && row.name" class="flex">
    <div>{{row.name}}</div>
    <div class="flex-right">
      <cups-dropdown [options]="row.options | toOptions" type="sheet" [model]="row.default" (modelChange)="view._select($event, row)"></cups-dropdown>
    </div>
  </div>
</ng-template>
<!--div>
  <ion-list>
    <ng-container [ngTemplateOutlet]="options" [ngTemplateOutletContext]="{$implicit: view._printer?.options}"></ng-container>
    <ion-item>
      <ion-label>Fit to page</ion-label>
      <ion-toggle [value]="view._fit" (ionChange)="view._fit = !view._fit"></ion-toggle>
    </ion-item>
    <ion-item-divider>Advanced options</ion-item-divider>
    <ng-container [ngTemplateOutlet]="options" [ngTemplateOutletContext]="{$implicit: view._ppd}"></ng-container>
  </ion-list>
  <div class="bottom" (click)="view._print()">
    <ion-fab><ion-fab-button><ion-icon name="print-outline"></ion-icon></ion-fab-button></ion-fab>
  </div>
</div>

<ng-template #options let-groups>
  <ion-item *ngFor="let group of groups">
    <ion-label>{{group.name}}</ion-label>
    <ion-select interface="action-sheet" (ionChange)="view._select($event, group)" [value]="group.default">
      <ion-select-option *ngFor="let option of group.options" [value]="option.key">
        {{option.value}}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ng-template-->
