<span class="p-float-label" *ngIf="type == 'dropdown'">
  <p-dropdown
    [showClear]="showClear"
    [autoDisplayFirst]="false"
    [inputId]="id"
    [disabled]="disabled"
    [options]="options"
    [optionLabel]="optionLabel"
    [ngModel]="view._model"
    appendTo="body"
    (ngModelChange)="view._modelChange($event)"></p-dropdown>
  <label [for]="id">{{label}}</label>
</span>

<div *ngIf="type == 'radio'" class="flex" [ngClass]="{'flex--column': vertical}">
  <div *ngFor="let option of options" class="option">
    <p-radioButton inputId="option-{{option.value}}" [name]="id" [value]="option" [ngModel]="view._model" (ngModelChange)="view._modelChange($event)"></p-radioButton>
    <label for="option-{{option.value}}">{{option.label}}</label>
  </div>
</div>

<div *ngIf="type == 'sheet'" class="flex" (click)="view._sheetSelect()">
  <div>{{view._model.label}}</div>
  <i class="caret fa fa-caret-down"></i>
</div>

<p-sidebar class="no-height" [(visible)]="view._sheetOpened" *ngIf="type == 'sheet'" position="bottom">
  <div class="sheet" *ngIf="view._sheetOpened">
    <div
      class="sheet-item"
      *ngFor="let option of (options | sorted)"
      (click)="view._modelChange(option)"
      [ngClass]="{'sheet-item--selected': view._model.value == option.value}">
      {{option.label}}
    </div>
  </div>
</p-sidebar>
